#main_content div {
    background-color: #ccc;
    margin: 0 0 20px 0;
}

.static_width {
    width: 300px;
    height: 100px;
}

.percentage_width {
    width: 70%;
    height: 50px;
}

.inline_block {
    width: 40%;
    display: inline-block;
}